* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
}

html,
body {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

.container-title.title-home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  padding: 0;
  color: #f9f9f9;
  font-size: 35px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.text {
  font-size: 20px;
  color: #f9f9f9;
}

@media screen and (min-width: 280px) and (max-width: 750px) {
  .container-title.title-home {
    font-size: 30px;
    z-index: 1;
  }
}

/* Social Icons */
.fa-envelope,
.fa-instagram,
.fa-whatsapp {
  transition: color 0.2s;
  color: #f9f9f9;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  padding: 0;
  font-size: 30px;
}

.fa-envelope:hover,
.fa-instagram:hover,
.fa-whatsapp:hover {
  transition: color 0.2s;
  color: #bcccdc;
}

.contact.fa-envelope,
.contact.fa-instagram,
.contact.fa-whatsapp {
  transition: color 0.2s;
  color: #f9f9f9;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  padding: 10px;
  font-size: 20px;
  font-size: 30px;
}

.contact.fa-envelope:hover,
.contact.fa-instagram:hover,
.contact.fa-whatsapp:hover {
  transition: color 0.2s;
  color: #bcccdc;
}

.icon-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.icon-box a:link,
.icon-box a:visited {
  text-decoration: none;
  border: 0;
}

.icon-box-speaker .fa-envelope,
.icon-box-speaker .fa-instagram,
.icon-box-speaker .fa-whatsapp {
  transition: color 0.2s;
  background-color: #f9f9f9;
  color: #999999;
  border-radius: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 10px 5px;
  padding: 20px;
}

.icon-box-speaker .fa-envelope:hover,
.icon-box-speaker .fa-instagram:hover,
.icon-box-speaker .fa-whatsapp:hover {
  transition: color 0.2s;
  color: #bcccdc;
}

.icon-box-speaker {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.icon-box-speaker a:link,
.icon-box-speaker a:visited {
  text-decoration: none;
  border: 0;
}
/* End Social Icons */

/* Navbar */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; /*Maybe I'll change the value*/
  width: 50px;
  height: 50px;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /*Maybe I'll change the value*/
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

/* Hamburger line */
label {
  position: absolute;
  top: 30px;
  right: 0;
  left: 20px;
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  transition: 0.3s ease transform;
  cursor: pointer;
  z-index: 3; /*Maybe I'll change the value*/
}

label div {
  margin-left: 0;
  margin-bottom: 6px;
  border-radius: 2px;
}

label div span {
  color: #f9f9f9;
  font-size: 26px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

#menu_checkbox:checked + label div {
  width: 6px;
  margin-left: 12px;
  margin-bottom: 3px;
  color: #f9f9f9;
}
/* Top and Bottom line hamburger */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger > div:after {
  top: 10px;
}
/* Show menu */

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: #000;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

@media screen and (min-width: 270px) and (max-width: 750px) {
  .menu-wrap .menu > div {
    width: 100%;
    height: 100vh;
  }
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #f9f9f9;
  padding: 0.5rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
  font-size: 45px;
  letter-spacing: 1px;
}

@media screen and (min-width: 270px) and (max-width: 750px) {
  .menu-wrap .menu > div > div > ul > li > a {
    font-size: 26px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .menu-wrap .menu > div > div > ul > li > a {
    font-size: 26px;
  }
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  color: gray;
}
/* End NavBar */

/* About */
.about {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(./img/448256307_513513347666570_6703697185721909489_n.jpg) no-repeat
      center center / cover;
  width: 100%;
  height: 100vh;
}

.container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 36px;
  line-height: 2;
}

@media (min-width: 270px) and (max-width: 590px) {
  .container-about {
    font-size: 20px;
    width: 85%;
    height: 60vh;
    line-height: 1.5;
  }
}
/* End About */
